{{#> defaultEmail}}
    {{#*inline "content-block"}}
        <div style="margin-bottom: 10px">
            To use your account you need to confirm your email. You can do this by pressing the button below:
        </div>
        <div
                style="margin-bottom: 10px"
        >
            <a
                    href="{{url}}/confirm-email?token={{token}}"
            target="_blank"
            class="button"
            >
            <span>Confirm email</span>
            </a>
        </div>
        <div style="margin-bottom: 10px">
            If the button doesn't work, you can copy the link below to your browser:
        </div>
        <div>
            <a
                href="{{url}}/auth/confirm-email?token={{token}}"
                class="link"
            >
            {{url}}/confirm-email?token={{token}}
            </a>
        </div>
    {{/inline}}
    {{#*inline "email-reason-block"}}
        You are receiving this email because you created an account.
    {{/inline}}
{{/defaultEmail}}